<main>
  <section class="section">
    <div class="container">
      <div class="row no-gutters-lg">
        <%= render partial: 'site/shared/articles' %>
        <%= render partial: 'site/shared/recommended' %>
      </div>
    </div>
  </section>
</main>