<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if admin_signed_in? %>
    "Administrador logado: <%= current_admin.email %>"
<% else %>
    <h2> Nenhum admin logado </h2>
<% end %>